@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap");
@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

video,
img,
canvas {
  display: block;
}

img {
  width: 100%;
}

.pc {
  display: block;
}
@media all and (max-width: 500px) {
  .pc {
    display: none;
  }
}

.ph {
  display: none;
}
@media all and (max-width: 500px) {
  .ph {
    display: block;
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pause {
  animation-play-state: paused;
}

#footer {
  position: relative;
  width: 100%;
  background-color: #736357;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  font-size: 0.8vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-weight: 300;
  margin-top: 8%;
}
#footer span {
  color: #fff;
  font-family: "Microsoft JhengHei";
  text-decoration: none;
  pointer-events: none;
}
#footer a {
  color: #fff;
  font-family: "Microsoft JhengHei";
  text-decoration: none;
  pointer-events: none;
}
@media all and (max-width: 1600px) {
  #footer {
    margin-top: 5%;
  }
}
@media all and (max-width: 500px) {
  #footer {
    flex-direction: column;
    font-size: 3vw;
    line-height: 2;
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin-top: 15%;
  }
  #footer > :nth-child(1) {
    order: 3;
  }
  #footer > :nth-child(2) {
    order: 2;
  }
  #footer > :nth-child(3) {
    order: 1;
  }
}

#nav {
  position: fixed;
  z-index: 100;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.805) 0%, rgba(0, 0, 0, 0.629) 5%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1vw 3vw;
}
@media all and (max-width: 500px) {
  #nav {
    background-image: none;
    padding: 4vw;
    padding-right: 7vw;
    padding-left: 7vw;
    background-color: #534741;
  }
  #nav .nav-icon {
    width: 30vw;
  }
}

.nav-icon {
  z-index: 99;
  position: relative;
}
.nav-icon > a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.nav-hamb-icon {
  display: none;
}

@media all and (max-width: 500px) {
  .nav-hamb-icon {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: none;
    background-color: transparent;
    pointer-events: auto;
  }
  .nav-hamb-icon > span {
    width: 100%;
    height: 1px;
    background-color: white;
  }
}
.nav-list {
  display: flex;
  align-items: center;
}
@media all and (max-width: 500px) {
  .nav-list {
    width: 100%;
  }
}

.nav-list-show {
  display: flex;
}

.nav-list-ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-list-ul > div {
  display: flex;
  align-items: center;
}
.nav-list-ul a {
  color: white;
  text-decoration: none;
}
.nav-list-ul li {
  color: white;
  font-size: 0.9vw;
  font-family: "Noto Serif TC", serif;
  font-weight: 400;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  letter-spacing: 0.4rem;
  cursor: pointer;
  pointer-events: auto;
}
.nav-list-ul li:nth-child(1),
.nav-list-ul li:nth-child(2),
.nav-list-ul li:nth-child(3),
.nav-list-ul li:nth-child(4) {
  position: relative;
}
.nav-list-ul li:nth-child(1)::after,
.nav-list-ul li:nth-child(2)::after,
.nav-list-ul li:nth-child(3)::after,
.nav-list-ul li:nth-child(4)::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 1px;
  height: 60%;
  bottom: 15%;
  right: 0;
}
@media all and (max-width: 500px) {
  .nav-list-ul li:nth-child(1)::after,
  .nav-list-ul li:nth-child(2)::after,
  .nav-list-ul li:nth-child(3)::after,
  .nav-list-ul li:nth-child(4)::after {
    content: "";
    width: 0px;
  }
}
@media all and (max-width: 500px) {
  .nav-list-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    pointer-events: none;
  }
  .nav-list-ul li {
    font-size: 4vw;
    padding: 2.5rem;
  }
  .nav-list-ul > div {
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
}

.loading-page {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #534741;
  background-repeat: repeat;
  background-size: 100%;
  transition: opacity 0.6s;
  pointer-events: none;
  overflow: hidden;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 5vw;
  position: relative;
}
@media all and (max-width: 500px) {
  .box {
    width: 100%;
  }
}

@media all and (max-width: 500px) {
  .box-img {
    width: 40vw;
  }
}

.box-para {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.25vw;
  letter-spacing: 2px;
  color: #aa9784;
}
@media all and (max-width: 500px) {
  .box-para {
    font-size: 8vw;
  }
}

.first-cut {
  -webkit-clip-path: ellipse(61% 81% at 50% 19%);
          clip-path: ellipse(61% 81% at 50% 19%);
  overflow: hidden;
}
@media all and (max-width: 500px) {
  .first-cut {
    -webkit-clip-path: ellipse(117% 55% at 50% 44%);
            clip-path: ellipse(117% 55% at 50% 44%);
  }
}

.first-cut-img-container img {
  animation: zoom 15s linear infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.second-cut {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media all and (max-width: 500px) {
  .second-cut {
    margin-bottom: 10%;
    align-items: center;
  }
}

.title {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  color: #65534b;
  margin-top: 4vw;
}
@media all and (max-width: 500px) {
  .title {
    margin-top: 5%;
  }
}

.base {
  font-family: "Cormorant Infant", serif;
  font-size: 9vw;
  opacity: 0.1;
  font-weight: 400;
}
@media all and (max-width: 500px) {
  .base {
    font-size: 14vw;
  }
}

.content {
  position: absolute;
  text-align: center;
}
.content > h3 {
  font-weight: 600;
  font-size: 2.25vw;
  font-family: "Cormorant Infant", serif;
}
.content > h4 {
  font-size: 1.25vw;
  margin-top: 0.5vw;
  font-family: "Noto Serif TC", serif;
}
@media all and (max-width: 500px) {
  .content > h3 {
    font-size: 6vw;
  }
  .content > h4 {
    font-size: 3.75vw;
    font-weight: 600;
    margin-top: 0;
  }
}

.brand-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #65534b;
}
.brand-nav a {
  color: #65534b;
  font-family: "Noto Serif TC", serif;
  text-decoration: none;
}
.brand-nav h4 {
  font-size: 1.25vw;
  font-family: "Noto Serif TC", serif;
  line-height: 1;
}
.brand-nav > .brand-nav-line {
  width: 1px;
  height: 1.25vw;
  background-color: #65534b;
  margin-left: 2%;
  margin-right: 2%;
}
@media all and (max-width: 500px) {
  .brand-nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 3%;
  }
  .brand-nav h4 {
    font-size: 3.75vw;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .brand-nav > .brand-nav-line {
    height: 3.75vw;
    margin-left: 9%;
    margin-right: 9%;
  }
}

.third-cut {
  margin-top: 5%;
}

.third-cut-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.third-cut-title > h4 {
  font-size: 1.25vw;
  font-family: "Noto Serif TC", serif;
  color: #65534b;
  line-height: 1;
  letter-spacing: 2px;
}
@media all and (max-width: 500px) {
  .third-cut-title > h4 {
    font-size: 3.75vw;
  }
}

.third-cut-circle {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}
@media all and (max-width: 500px) {
  .third-cut-circle {
    margin-top: 25%;
  }
}

.third-cut-circle-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  background-color: #534741;
  width: 17vw;
  height: 17vw;
}
.innerCircle > img {
  width: 4vw;
  margin-bottom: 3%;
}
.innerCircle > h3 {
  color: #ac9986;
  font-family: "Noto Serif TC", serif;
  font-size: 1.75vw;
  letter-spacing: 2px;
}
@media all and (max-width: 500px) {
  .innerCircle {
    width: 50vw;
    height: 50vw;
  }
  .innerCircle > img {
    width: 10vw;
  }
  .innerCircle > h3 {
    font-size: 3.75vw;
  }
}

.outerCircle {
  position: absolute;
}

.outerCircle-7-color {
  width: 21vw;
}
@media all and (max-width: 500px) {
  .outerCircle-7-color {
    width: 60vw;
  }
}

.svgbox {
  position: absolute;
  top: 0;
  width: 21vw;
  transform: scale(1.15);
}
@media all and (max-width: 500px) {
  .svgbox {
    width: 60vw;
  }
}

#circle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#circle-2 circle {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  transform: rotate(270deg);
  transform-origin: center;
}

.dot-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.dot-in {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: scale(1.04) rotate(90deg);
}
@media all and (max-width: 500px) {
  .dot-in {
    transform: rotate(90deg);
  }
}

.dot {
  width: 100%;
  position: absolute;
}
.dot > img {
  width: 0.8vw;
}
@media all and (max-width: 500px) {
  .dot > img {
    width: 1.5vw;
  }
}

.dot:nth-child(1) {
  transform: rotate(51.4285714286deg);
}

@media all and (max-width: 500px) {
  .dot:nth-child(1) {
    transform: scale(1.025) rotate(51.4285714286deg);
  }
}
.dot:nth-child(2) {
  transform: rotate(102.8571428571deg);
}

@media all and (max-width: 500px) {
  .dot:nth-child(2) {
    transform: scale(1.025) rotate(102.8571428571deg);
  }
}
.dot:nth-child(3) {
  transform: rotate(154.2857142857deg);
}

@media all and (max-width: 500px) {
  .dot:nth-child(3) {
    transform: scale(1.025) rotate(154.2857142857deg);
  }
  .dot:nth-child(3) {
    transform: scale(1.015) rotate(154.2857142857deg);
  }
}
.dot:nth-child(4) {
  transform: rotate(205.7142857143deg);
}

@media all and (max-width: 500px) {
  .dot:nth-child(4) {
    transform: scale(1.025) rotate(205.7142857143deg);
  }
  .dot:nth-child(4) {
    transform: scale(1.01) rotate(205.7142857143deg);
  }
}
.dot:nth-child(5) {
  transform: rotate(257.1428571429deg);
}

@media all and (max-width: 500px) {
  .dot:nth-child(5) {
    transform: scale(1.025) rotate(257.1428571429deg);
  }
}
.dot:nth-child(6) {
  transform: rotate(308.5714285714deg);
}

@media all and (max-width: 500px) {
  .dot:nth-child(6) {
    transform: scale(1.025) rotate(308.5714285714deg);
  }
}
.dot:nth-child(7) {
  transform: rotate(360deg);
}

@media all and (max-width: 500px) {
  .dot:nth-child(7) {
    transform: scale(1.025) rotate(360deg);
  }
  .dot:nth-child(7) {
    transform: scale(1.035) rotate(360deg);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  7% {
    transform: scale(1.2);
  }
  14% {
    transform: scale(1);
  }
}
.text-rotate-box {
  position: absolute;
  top: 0;
}
.text-rotate-box > img {
  transform: scale(1.5);
}

.outer_dotted {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.outer_dotted > img {
  transform: scale(1.9);
}
@media all and (max-width: 500px) {
  .outer_dotted {
    display: none;
  }
}

.para-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 500px) {
  .para-box {
    display: none;
  }
}

.para-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.para {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120%;
  margin-left: 22%;
}

.para-img {
  position: relative;
}

.para-img-bg {
  width: 10vw;
}

.para-img-item {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  width: 8vw;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.para-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #65534b;
  margin-left: 4%;
  margin-bottom: 7%;
}
.para-text > h4 {
  font-size: 1.25vw;
  font-family: "Noto Serif TC", serif;
  white-space: nowrap;
}
.para-text > p {
  font-size: 0.9vw;
  font-family: "Microsoft JhengHei";
  color: #4d4d4d;
  letter-spacing: 2px;
}

.para:nth-child(1) {
  top: -78%;
}

.para:nth-child(2) {
  top: -37%;
  left: 93%;
}

.para:nth-child(3) {
  left: 109%;
  top: 51%;
}

.para:nth-child(4) {
  bottom: -67%;
  left: 59%;
}

.para:nth-child(5),
.para:nth-child(6),
.para:nth-child(7) {
  flex-direction: row-reverse;
}
.para:nth-child(5) .para-text,
.para:nth-child(6) .para-text,
.para:nth-child(7) .para-text {
  margin-left: 0;
  margin-right: 4%;
}
.para:nth-child(5) .para-text h4,
.para:nth-child(6) .para-text h4,
.para:nth-child(7) .para-text h4 {
  text-align: end;
}
.para:nth-child(5) .para-text p,
.para:nth-child(6) .para-text p,
.para:nth-child(7) .para-text p {
  text-wrap: nowrap;
  text-align: end;
}

.para:nth-child(5) {
  bottom: -67%;
  left: -130%;
}

.para:nth-child(6) {
  right: 123%;
  top: 51%;
}

.para:nth-child(7) {
  top: -37%;
  right: 102%;
}

.para-box-ph {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23%;
  padding-bottom: 20%;
  overflow: hidden;
}

.para-ph {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.para-container-ph {
  width: 90%;
}

.para-img-ph {
  position: relative;
}

.para-img-bg-ph {
  width: 35vw;
}

.para-img-item-ph {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  width: 30vw;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.para-text-ph {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #65534b;
  margin-left: 4%;
}
.para-text-ph > h4 {
  font-size: 3.75vw;
  font-family: "Noto Serif TC", serif;
  white-space: nowrap;
  margin-bottom: 4%;
}
.para-text-ph > p {
  font-size: 3.75vw;
  font-family: "Microsoft JhengHei";
  color: #4d4d4d;
  letter-spacing: 2px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #736357;
  background-position: center;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  padding: 2.5vw;
  top: 75%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: unset;
}

.swiper-button-next {
  left: 50%;
}

.swiper-button-prev {
  left: 36%;
}

.fourth-cut {
  margin-top: 22%;
}
@media all and (max-width: 500px) {
  .fourth-cut {
    margin-top: 0%;
  }
}

.fourth-cut-big-img img {
  margin: 0 auto;
  width: 85%;
}
@media all and (max-width: 500px) {
  .fourth-cut-big-img img {
    width: 90%;
  }
}

.fourth-cut-para {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4%;
}
.fourth-cut-para > h3 {
  font-family: "Cormorant Infant", serif;
  font-size: 2.25vw;
  color: #65534b;
}
.fourth-cut-para > h4 {
  font-family: "Noto Serif TC", serif;
  font-size: 1.25vw;
  color: #534741;
  margin-top: 2%;
  margin-bottom: 2%;
  letter-spacing: 2px;
}
.fourth-cut-para > p {
  font-family: "Microsoft JhengHei";
  font-size: 0.9vw;
  color: #4d4d4d;
  letter-spacing: 2px;
  line-height: 2;
}
@media all and (max-width: 500px) {
  .fourth-cut-para > h3 {
    font-size: 6vw;
  }
  .fourth-cut-para > h4 {
    font-size: 3.75vw;
    margin-bottom: 6%;
  }
  .fourth-cut-para > p {
    font-size: 3.75vw;
  }
}/*# sourceMappingURL=brand_concept.css.map */