@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap");
@import url("https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

video,
img,
canvas {
  display: block;
}

img {
  width: 100%;
}

.pc {
  display: block;
}
@media all and (max-width: 500px) {
  .pc {
    display: none;
  }
}

.ph {
  display: none;
}
@media all and (max-width: 500px) {
  .ph {
    display: block;
  }
}

#footer {
  width: 100%;
  background-color: #736357;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  font-size: 0.8vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-weight: 300;
  margin-top: 10%;
}
#footer span {
  color: white;
  font-family: "Microsoft JhengHei";
}
@media all and (max-width: 1500px) {
  #footer {
    margin-top: 5%;
  }
}
@media all and (max-width: 500px) {
  #footer {
    flex-direction: column;
    font-size: 3vw;
    line-height: 2.25;
  }
  #footer > :nth-child(1) {
    order: 3;
  }
  #footer > :nth-child(2) {
    order: 2;
  }
  #footer > :nth-child(3) {
    order: 1;
  }
}

#nav {
  position: fixed;
  z-index: 100;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.805) 0%, rgba(0, 0, 0, 0.629) 5%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1vw 3vw;
}
@media all and (max-width: 500px) {
  #nav {
    background-image: none;
    padding: 4vw;
    padding-right: 7vw;
    padding-left: 7vw;
    background-color: #534741;
  }
  #nav .nav-icon {
    width: 30vw;
  }
}

.nav-icon {
  z-index: 99;
}

.nav-hamb-icon {
  display: none;
}

@media all and (max-width: 500px) {
  .nav-hamb-icon {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: none;
    background-color: transparent;
    z-index: 99;
  }
  .nav-hamb-icon > span {
    width: 100%;
    height: 1px;
    background-color: white;
  }
}
.nav-list {
  display: flex;
  align-items: center;
}
@media all and (max-width: 500px) {
  .nav-list {
    width: 100%;
  }
}

.nav-list-show {
  display: flex;
}

.nav-list-ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-list-ul > div {
  display: flex;
  align-items: center;
}
.nav-list-ul li {
  color: white;
  font-size: 0.9vw;
  font-family: "Noto Serif TC", serif;
  font-weight: 400;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  letter-spacing: 0.4rem;
  cursor: pointer;
}
.nav-list-ul li:nth-child(1),
.nav-list-ul li:nth-child(2),
.nav-list-ul li:nth-child(3),
.nav-list-ul li:nth-child(4) {
  position: relative;
}
.nav-list-ul li:nth-child(1)::after,
.nav-list-ul li:nth-child(2)::after,
.nav-list-ul li:nth-child(3)::after,
.nav-list-ul li:nth-child(4)::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 1px;
  height: 60%;
  bottom: 15%;
  right: 0;
}
@media all and (max-width: 500px) {
  .nav-list-ul li:nth-child(1)::after,
  .nav-list-ul li:nth-child(2)::after,
  .nav-list-ul li:nth-child(3)::after,
  .nav-list-ul li:nth-child(4)::after {
    content: "";
    width: 0px;
  }
}
@media all and (max-width: 500px) {
  .nav-list-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  .nav-list-ul li {
    font-size: 4vw;
    padding: 2.5rem;
  }
  .nav-list-ul > div {
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

body {
  background-image: url("../img/home/首頁-bg.jpg");
  background-repeat: repeat;
  background-size: 100%;
}

:root {
  --cut3top: 0;
}

.z0 {
  z-index: 0;
}

.z6 {
  z-index: 6;
}

.preload_number {
  width: 100%;
  height: 100vh;
}
.preload_number > .preload_number-number {
  font-size: 25vw;
}

.home-cut-1 {
  position: relative;
  z-index: 5;
}

.home-cut-1-video {
  overflow: hidden;
  -webkit-clip-path: ellipse(82% 56% at 50% 44%);
          clip-path: ellipse(82% 56% at 50% 44%);
}
.home-cut-1-video video {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
@media all and (max-width: 1500px) {
  .home-cut-1-video video {
    height: 113vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media all and (max-width: 500px) {
  .home-cut-1-video {
    -webkit-clip-path: ellipse(140% 55% at 50% 45%);
            clip-path: ellipse(140% 55% at 50% 45%);
  }
  .home-cut-1-video video {
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.home-cut-1-para {
  position: absolute;
  top: 40%;
  left: 8%;
  color: white;
  letter-spacing: 3px;
}
.home-cut-1-para > h1 {
  font-family: "Cormorant Infant", serif;
  font-size: 2.75vw;
  font-weight: 500;
  margin-bottom: 1%;
}
.home-cut-1-para > h2 {
  font-family: "Noto Serif TC", serif;
  font-size: 1.75vw;
  font-weight: 400;
  margin-bottom: 4%;
}
.home-cut-1-para > p {
  font-family: "Microsoft JhengHei";
  font-weight: 200;
}
.home-cut-1-para > p:nth-child(3) {
  font-size: 1.1vw;
  margin-bottom: 1%;
}
.home-cut-1-para > p:nth-child(4) {
  font-size: 0.9vw;
}
@media all and (max-width: 500px) {
  .home-cut-1-para > h1 {
    font-size: 7.5vw;
  }
  .home-cut-1-para > h2 {
    font-size: 6.5vw;
  }
  .home-cut-1-para > p:nth-child(3) {
    font-size: 3.5vw;
    margin-bottom: 3%;
  }
  .home-cut-1-para > p:nth-child(4) {
    font-size: 3.5vw;
  }
}

.home-cut-1-para-line {
  display: flex;
  align-items: center;
}
.home-cut-1-para-line > span {
  width: 12%;
  margin-right: 2%;
  background-color: white;
  height: 1px;
}
@media all and (max-width: 500px) {
  .home-cut-1-para-line > span {
    margin-right: 5%;
  }
}

.home-cut-2 {
  position: relative;
  overflow: hidden;
  margin-top: -7%;
}
@media all and (max-width: 1500px) {
  .home-cut-2 {
    margin-top: -9%;
  }
}

.drops {
  position: absolute;
  z-index: -1;
}

.drops-1 {
  right: -13vw;
  top: -5%;
  width: 30vw;
  z-index: 1;
}
@media all and (max-width: 500px) {
  .drops-1 {
    top: -12vw;
    width: 31vw;
  }
}

.drops-2 {
  left: -10%;
  top: 7%;
  width: 25vw;
}
@media all and (max-width: 500px) {
  .drops-2 {
    left: -8vw;
    top: 107vw;
    width: 28vw;
  }
}

.drops-3 {
  left: 15%;
  top: 6%;
}
@media all and (max-width: 500px) {
  .drops-3 {
    left: 22vw;
    top: 104vw;
    width: 16vw;
  }
}

.drops-4 {
  right: 12%;
  top: 0.5%;
  width: 10vw;
}
@media all and (max-width: 500px) {
  .drops-4 {
    right: 12vw;
    top: 0vw;
    width: 14vw;
  }
}

.drops-5 {
  right: 13%;
  top: 12%;
  width: 10vw;
}
@media all and (max-width: 500px) {
  .drops-5 {
    right: 12vw;
    top: 103vw;
    width: 20vw;
  }
}

.home-cut-2-para {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 1px;
  padding-top: 20%;
  padding-bottom: 12%;
}
.home-cut-2-para > h1 {
  color: #65534b;
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-size: 2.5vw;
}
.home-cut-2-para > h3 {
  color: #534741;
  font-family: "Noto Serif TC", serif;
  font-size: 1.25vw;
  font-weight: 500;
}
.home-cut-2-para > p {
  color: #4d4d4d;
  font-family: "Microsoft JhengHei";
  font-size: 1vw;
  margin-bottom: 0.75%;
}
.home-cut-2-para > :nth-child(1),
.home-cut-2-para > :nth-child(3),
.home-cut-2-para > :nth-child(4) {
  margin-bottom: 2%;
}
@media all and (max-width: 500px) {
  .home-cut-2-para > h1 {
    font-size: 6.5vw;
  }
  .home-cut-2-para > h3 {
    font-size: 5vw;
    margin-bottom: 4%;
  }
  .home-cut-2-para p {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 3.5vw;
    line-height: 2;
    margin-bottom: 0;
  }
  .home-cut-2-para > :nth-child(1) {
    margin-bottom: 4%;
  }
  .home-cut-2-para > :nth-child(3) {
    margin-bottom: 3%;
  }
}

.home-cut-2-para-img {
  width: 10vw;
}
@media all and (max-width: 500px) {
  .home-cut-2-para-img {
    width: 20vw;
  }
}

.home-cut-2-fixed-container {
  position: relative;
}
@media all and (max-width: 500px) {
  .home-cut-2-fixed-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.home-cut-2-fixed-first {
  position: relative;
  overflow: hidden;
}
@media all and (max-width: 500px) {
  .home-cut-2-fixed-first {
    overflow: unset;
  }
}

.yo {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}

.home-cut-2-fixed-first-squre {
  display: flex;
  justify-content: center;
}

.home-cut-2-fixed-first-squre-wrapper {
  position: absolute;
  width: 35vw;
  height: 35vw;
  margin-top: 8%;
}
@media all and (max-width: 1500px) {
  .home-cut-2-fixed-first-squre-wrapper {
    margin-top: 14%;
  }
}
@media all and (max-width: 500px) {
  .home-cut-2-fixed-first-squre-wrapper {
    width: 100%;
    height: 100vh;
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
  }
}

.home-cut-2-fixed-first-squre-1,
.home-cut-2-fixed-first-squre-2 {
  position: relative;
  width: 35vw;
  height: 35vw;
}
@media all and (max-width: 500px) {
  .home-cut-2-fixed-first-squre-1,
  .home-cut-2-fixed-first-squre-2 {
    width: 50vw;
    height: 50vw;
  }
}

.home-cut-2-fixed-first-squre-text {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  line-height: 1.2;
}
.home-cut-2-fixed-first-squre-text > p {
  font-size: 3.7vw;
  letter-spacing: 2px;
}
@media all and (max-width: 500px) {
  .home-cut-2-fixed-first-squre-text p {
    font-size: 6.5vw;
  }
}

.loopText {
  font-family: "Cormorant Infant", serif;
  color: #65534b;
  animation: loopText 16s linear infinite;
  animation-play-state: running;
  font-weight: 600;
}

@keyframes loopText {
  0% {
    transform: translateX(-179%);
  }
  100% {
    transform: translateX(0%);
  }
}
.n-1 {
  transform: translateY(-4vw);
}

.n-2 {
  bottom: 0;
  transform: rotate(180deg) translateY(-4vw);
}

.n-3 {
  transform: translateY(100%) translateX(4vw) rotate(90deg);
  bottom: 0;
  transform-origin: top right;
}

.n-4 {
  transform: translateY(100%) translateX(-4vw) rotate(-90deg);
  bottom: 0;
  transform-origin: top left;
}

@media all and (max-width: 500px) {
  .n-1 {
    transform: translateY(-6.5vw);
  }
  .n-2 {
    transform: rotate(180deg) translateY(-6.5vw);
  }
  .n-3 {
    transform: translateY(100%) translateX(6.5vw) rotate(90deg);
  }
  .n-4 {
    transform: translateY(100%) translateX(-6.5vw) rotate(-90deg);
  }
}
canvas {
  top: 0;
  left: 0;
  min-width: 100%;
  pointer-events: none;
}
@media all and (max-width: 500px) {
  canvas {
    transform: translateZ(0);
  }
}

.home-cut-3 {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
@media all and (max-width: 1500px) {
  .home-cut-3 {
    margin-top: 1.5%;
    margin-bottom: 5%;
  }
}
@media all and (max-width: 500px) {
  .home-cut-3 {
    height: auto;
    padding-top: 10%;
    padding-bottom: 3%;
    margin-bottom: 0%;
    margin-top: 0%;
  }
}

.title {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  color: #65534b;
}
@media all and (max-width: 500px) {
  .title {
    margin-top: 5%;
  }
}

.base {
  font-family: "Cormorant Infant", serif;
  font-size: 9vw;
  opacity: 0.1;
  font-weight: 400;
}
@media all and (max-width: 500px) {
  .base {
    font-size: 14vw;
  }
}

.content {
  position: absolute;
  text-align: center;
}
.content > h3 {
  font-weight: 600;
  font-size: 2.25vw;
  font-family: "Cormorant Infant", serif;
}
.content > h4 {
  font-size: 1.25vw;
  margin-top: 0.5vw;
  font-family: "Noto Serif TC", serif;
}
@media all and (max-width: 500px) {
  .content > h3 {
    font-size: 6vw;
  }
  .content > h4 {
    font-size: 3.75vw;
    font-weight: 600;
    margin-top: 0;
  }
}

.cut-3-carousel {
  display: flex;
  justify-content: center;
}

.cut-3-carousel-swiper {
  position: relative;
  width: 25vw;
}
@media all and (max-width: 1500px) {
  .cut-3-carousel-swiper {
    width: 30vw;
  }
}
@media all and (max-width: 500px) {
  .cut-3-carousel-swiper {
    width: 75%;
  }
}

.swiper-creative .swiper-slide {
  overflow: unset;
  opacity: 0 !important;
}

.swiper-slide {
  margin-top: 40%;
  margin-bottom: 5%;
  height: auto;
  position: relative;
}
.swiper-slide > .swiper-img > a {
  pointer-events: none;
}
@media all and (max-width: 500px) {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }
}

.swiper-img {
  position: relative;
}
.swiper-img > a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.swiper-img-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.swiper-wrapper {
  display: flex;
}
.swiper-wrapper .swiper-slide-prev {
  opacity: 1 !important;
  transform: translateY(-15%) !important;
  transition: all 1s;
}
.swiper-wrapper .swiper-slide-prev .text-rotate {
  opacity: 1;
}
@media all and (max-width: 500px) {
  .swiper-wrapper .swiper-slide-prev {
    transform: translateY(0%) !important;
  }
}
.swiper-wrapper .swiper-slide-active {
  opacity: 1 !important;
  transform: translateY(-25%) !important;
  transition: all 1s;
}
@media all and (max-width: 500px) {
  .swiper-wrapper .swiper-slide-active {
    transform: translateY(0%) !important;
  }
}
.swiper-wrapper .swiper-slide-active > .swiper-img > a {
  z-index: 5;
  pointer-events: auto;
}
.swiper-wrapper .swiper-slide-active > .swiper-img > .swiper-img-mask {
  opacity: 0;
}
.swiper-wrapper .swiper-slide-active .text-rotate {
  opacity: 1;
}
.swiper-wrapper .swiper-slide-next {
  opacity: 1 !important;
  transform: translateY(-35%) !important;
  transition: all 1s;
}
@media all and (max-width: 500px) {
  .swiper-wrapper .swiper-slide-next {
    transform: translateY(0%) !important;
  }
}
.swiper-wrapper .swiper-slide-next .text-rotate {
  opacity: 1;
}

.text-rotate {
  position: absolute;
  margin-top: -31%;
  left: -15%;
  width: 8vw;
  animation: textRotate 10s linear infinite;
  opacity: 0;
  filter: brightness(0.5);
}
@media all and (max-width: 1500px) {
  .text-rotate {
    margin-top: -25%;
  }
}
@media all and (max-width: 500px) {
  .text-rotate {
    margin-top: 117%;
    left: -9%;
    width: 22vw;
  }
}

.before {
  transform: translateY(-32%) !important;
  transition: 1s ease;
}

@keyframes textRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.para-show {
  opacity: 1 !important;
  transition: 1.5s;
}

.swiper-slide-para {
  display: flex;
  margin-top: 20%;
  opacity: 0;
  transition: 1.5s;
}
.swiper-slide-para > h1 {
  writing-mode: vertical-lr;
  font-family: "Cormorant Infant", serif;
  font-size: 2vw;
  letter-spacing: 2px;
  line-height: 0.8;
  color: #65534b;
}
@media all and (max-width: 500px) {
  .swiper-slide-para {
    margin-top: 17%;
  }
  .swiper-slide-para > h1 {
    font-size: 6.5vw;
  }
}

.swiper-slide-para-content {
  margin-left: 1vw;
}
.swiper-slide-para-content > p {
  color: #4d4d4d;
  font-family: "Microsoft JhengHei";
  font-size: 0.9vw;
  line-height: 2;
  letter-spacing: 2px;
}
@media all and (max-width: 500px) {
  .swiper-slide-para-content {
    margin-left: 2vw;
  }
  .swiper-slide-para-content > p {
    font-size: 3.75vw;
  }
}

.swiper-slide-para-content-top {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  line-height: 1;
}
.swiper-slide-para-content-top > .swiper-slide-para-content-title {
  color: #534741;
  font-family: "Noto Serif TC", serif;
  font-size: 1.25vw;
  letter-spacing: 2px;
  font-weight: 500;
}
.swiper-slide-para-content-top > :nth-child(1),
.swiper-slide-para-content-top > :nth-child(3) {
  height: 1.2vw;
  width: 1px;
  background-color: #534741;
}
.swiper-slide-para-content-top > :nth-child(1) {
  margin-right: 2%;
}
.swiper-slide-para-content-top > :nth-child(3) {
  margin-left: 2%;
}
@media all and (max-width: 500px) {
  .swiper-slide-para-content-top > .swiper-slide-para-content-title {
    font-size: 5vw;
  }
  .swiper-slide-para-content-top > :nth-child(1),
  .swiper-slide-para-content-top > :nth-child(3) {
    height: 5vw;
    width: 1px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-color: #736357;
  background-position: center;
  border-radius: 50%;
  width: 2vw;
  padding: 6%;
  top: 70%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}
@media all and (max-width: 1500px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 2vw;
    padding: 6%;
    background-size: 50%;
  }
}
@media all and (max-width: 500px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 7vw;
    height: 7vw;
    padding: 3%;
    top: 0%;
    margin-top: 155%;
    background-size: 60%;
  }
}

.swiper-button-prev {
  background-image: url("../img/home/輪播左箭頭.png");
  left: 176%;
}
@media all and (max-width: 1500px) {
  .swiper-button-prev {
    left: 170%;
  }
}
@media all and (max-width: 500px) {
  .swiper-button-prev {
    left: 75%;
  }
}

.swiper-button-next {
  background-image: url("../img/home/輪播右箭頭.png");
  right: -107%;
}
@media all and (max-width: 1500px) {
  .swiper-button-next {
    right: -100%;
  }
}
@media all and (max-width: 500px) {
  .swiper-button-next {
    right: 2%;
  }
}

.home-cut-4 {
  position: relative;
  margin-top: 1%;
}
@media all and (max-width: 500px) {
  .home-cut-4 {
    margin-top: 10%;
  }
}

.fancybox-pic > img {
  cursor: none;
  border-radius: 25px;
}

.cut-4-pin {
  display: flex;
  justify-content: center;
  overflow: hidden;
  cursor: none;
  margin-top: -5.5%;
}
@media all and (max-width: 500px) {
  .cut-4-pin {
    margin-top: -14.5%;
  }
}

.cut-4-a {
  position: absolute;
}

.fancybox-content {
  padding: 0px;
}

.cut-4-to-top {
  background-image: url("../img/home/back.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: sticky;
  color: black;
  width: 1.5vw;
  height: 3.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  opacity: 1;
  z-index: 99;
  left: 50%;
  cursor: pointer;
  text-decoration: none;
}
@media all and (max-width: 1500px) {
  .cut-4-to-top {
    width: 2vw;
  }
}
@media all and (max-width: 500px) {
  .cut-4-to-top {
    width: 6.5vw;
    height: 11vw;
  }
}

.cut-4-pin-left,
.cut-4-pin-right {
  flex-direction: column;
  width: 100%;
}
.cut-4-pin-left > .cut-4-pin-img,
.cut-4-pin-right > .cut-4-pin-img {
  padding-top: 10%;
}
@media all and (max-width: 500px) {
  .cut-4-pin-left > :nth-child(1),
  .cut-4-pin-right > :nth-child(1) {
    padding-top: 10%;
  }
  .cut-4-pin-left > :nth-child(1) ~ .cut-4-pin-img,
  .cut-4-pin-right > :nth-child(1) ~ .cut-4-pin-img {
    padding-top: 10%;
  }
}

.cut-4-pin-center {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-right: 1%;
  width: 106%;
}
.cut-4-pin-center > :nth-child(1) ~ .cut-4-pin-img {
  padding-top: 10%;
}
@media all and (max-width: 500px) {
  .cut-4-pin-center > :nth-child(1) ~ .cut-4-pin-img {
    padding-top: 10%;
  }
}

.cut-4-pin-left {
  transform: translateY(-70vw);
}
@media all and (max-width: 500px) {
  .cut-4-pin-left {
    transform: translateY(-40%);
    margin-left: 1%;
  }
}

.cut-4-pin-right {
  transform: translateY(-70vw);
}
@media all and (max-width: 500px) {
  .cut-4-pin-right {
    display: none;
    transform: translateY(-40%);
  }
}

.home-cut-5 {
  position: relative;
  width: 100%;
}

.cut-5-news-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media all and (max-width: 500px) {
  .cut-5-news-card-container {
    flex-direction: column;
  }
}

.cut-5-news-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 27vw;
  margin-right: 2%;
  margin-left: 2%;
}
@media all and (max-width: 500px) {
  .cut-5-news-card {
    width: 85%;
    margin-top: 6%;
  }
}

.cut-5-news-card-contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cut-5-news-card-date {
  text-align: center;
  font-size: 0.8vw;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #736357;
  margin-top: 5%;
}
@media all and (max-width: 500px) {
  .cut-5-news-card-date {
    font-size: 3.25vw;
  }
}

.cut-5-news-card-title {
  text-align: center;
  font-size: 1.25vw;
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  color: #65534b;
  margin-top: 1%;
}
@media all and (max-width: 500px) {
  .cut-5-news-card-title {
    font-size: 5vw;
  }
}

.cut-5-news-card-para {
  color: #4d4d4d;
  font-family: "Microsoft JhengHei";
  font-weight: 400;
  font-size: 0.9vw;
  margin-top: 3%;
  line-height: 2;
  letter-spacing: 2px;
}
@media all and (max-width: 500px) {
  .cut-5-news-card-para {
    font-size: 3.5vw;
  }
}

.cut-5-news-card-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 1s;
}

.cut-5-news-card-more-container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.4vw;
  cursor: pointer;
  margin-top: 3%;
}
.cut-5-news-card-more-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #736357;
  bottom: -4px;
  left: 0;
  right: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: 0.5s ease;
}
.cut-5-news-card-more-container:hover::after {
  transform: scaleX(1);
}
.cut-5-news-card-more-container > p {
  font-weight: 500;
  font-size: 0.8vw;
  font-family: "Jost", sans-serif;
  color: #736357;
}
.cut-5-news-card-more-container > img {
  width: 0.8vw;
}
@media all and (max-width: 500px) {
  .cut-5-news-card-more-container {
    gap: 1.4vw;
  }
  .cut-5-news-card-more-container::after {
    transform: scaleX(1);
  }
  .cut-5-news-card-more-container > p {
    font-size: 3.5vw;
  }
  .cut-5-news-card-more-container > img {
    width: 3.5vw;
  }
}

.view {
  position: fixed;
  width: 5vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: #736356;
  pointer-events: none;
  transform: scale(0);
  top: 0;
}
.view > p {
  color: white;
  position: absolute;
  font-family: "Cormorant Infant", serif;
  font-size: 1vw;
}
.view > img {
  animation: textRotate 10s linear infinite;
}

.fancybox-content {
  background-color: transparent;
}

.fancybox-content > img {
  display: block !important;
}

.fancybox-close-small {
  background-color: #736356;
}

.fancybox-slide--html .fancybox-close-small {
  padding: 6px;
  color: white;
}/*# sourceMappingURL=index.css.map */