@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap");
@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

video,
img,
canvas {
  display: block;
}

img {
  width: 100%;
}

.pc {
  display: block;
}
@media all and (max-width: 500px) {
  .pc {
    display: none;
  }
}

.ph {
  display: none;
}
@media all and (max-width: 500px) {
  .ph {
    display: block;
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#footer {
  position: relative;
  width: 100%;
  background-color: #736357;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  font-size: 0.8vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-weight: 300;
  margin-top: 8%;
}
#footer span {
  color: #fff;
  font-family: "Microsoft JhengHei";
  text-decoration: none;
  pointer-events: none;
}
#footer a {
  color: #fff;
  font-family: "Microsoft JhengHei";
  text-decoration: none;
  pointer-events: none;
}
@media all and (max-width: 1600px) {
  #footer {
    margin-top: 5%;
  }
}
@media all and (max-width: 500px) {
  #footer {
    flex-direction: column;
    font-size: 3vw;
    line-height: 2;
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin-top: 15%;
  }
  #footer > :nth-child(1) {
    order: 3;
  }
  #footer > :nth-child(2) {
    order: 2;
  }
  #footer > :nth-child(3) {
    order: 1;
  }
}

#nav {
  position: fixed;
  z-index: 100;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.805) 0%, rgba(0, 0, 0, 0.629) 5%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1vw 3vw;
}
@media all and (max-width: 500px) {
  #nav {
    background-image: none;
    padding: 4vw;
    padding-right: 7vw;
    padding-left: 7vw;
    background-color: #534741;
  }
  #nav .nav-icon {
    width: 30vw;
  }
}

.nav-icon {
  z-index: 99;
  position: relative;
}
.nav-icon > a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.nav-hamb-icon {
  display: none;
}

@media all and (max-width: 500px) {
  .nav-hamb-icon {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: none;
    background-color: transparent;
    pointer-events: auto;
  }
  .nav-hamb-icon > span {
    width: 100%;
    height: 1px;
    background-color: white;
  }
}
.nav-list {
  display: flex;
  align-items: center;
}
@media all and (max-width: 500px) {
  .nav-list {
    width: 100%;
  }
}

.nav-list-show {
  display: flex;
}

.nav-list-ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-list-ul > div {
  display: flex;
  align-items: center;
}
.nav-list-ul a {
  color: white;
  text-decoration: none;
}
.nav-list-ul li {
  color: white;
  font-size: 0.9vw;
  font-family: "Noto Serif TC", serif;
  font-weight: 400;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  letter-spacing: 0.4rem;
  cursor: pointer;
  pointer-events: auto;
}
.nav-list-ul li:nth-child(1),
.nav-list-ul li:nth-child(2),
.nav-list-ul li:nth-child(3),
.nav-list-ul li:nth-child(4) {
  position: relative;
}
.nav-list-ul li:nth-child(1)::after,
.nav-list-ul li:nth-child(2)::after,
.nav-list-ul li:nth-child(3)::after,
.nav-list-ul li:nth-child(4)::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 1px;
  height: 60%;
  bottom: 15%;
  right: 0;
}
@media all and (max-width: 500px) {
  .nav-list-ul li:nth-child(1)::after,
  .nav-list-ul li:nth-child(2)::after,
  .nav-list-ul li:nth-child(3)::after,
  .nav-list-ul li:nth-child(4)::after {
    content: "";
    width: 0px;
  }
}
@media all and (max-width: 500px) {
  .nav-list-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    pointer-events: none;
  }
  .nav-list-ul li {
    font-size: 4vw;
    padding: 2.5rem;
  }
  .nav-list-ul > div {
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
}

.loading-page {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #534741;
  background-repeat: repeat;
  background-size: 100%;
  transition: opacity 0.6s;
  pointer-events: none;
  overflow: hidden;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 5vw;
  position: relative;
}
@media all and (max-width: 500px) {
  .box {
    width: 100%;
  }
}

@media all and (max-width: 500px) {
  .box-img {
    width: 40vw;
  }
}

.box-para {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.25vw;
  letter-spacing: 2px;
  color: #aa9784;
}
@media all and (max-width: 500px) {
  .box-para {
    font-size: 8vw;
  }
}

.first-cut {
  -webkit-clip-path: ellipse(61% 81% at 50% 19%);
          clip-path: ellipse(61% 81% at 50% 19%);
  overflow: hidden;
}
@media all and (max-width: 500px) {
  .first-cut {
    -webkit-clip-path: ellipse(117% 55% at 50% 44%);
            clip-path: ellipse(117% 55% at 50% 44%);
  }
}

.first-cut-img-container img {
  animation: zoom 15s linear infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.second-cut {
  margin-top: 2%;
  overflow: hidden;
}

.title {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  color: #65534b;
  margin-top: 4vw;
}
@media all and (max-width: 500px) {
  .title {
    margin-top: 5%;
  }
}

.base {
  font-family: "Cormorant Infant", serif;
  font-size: 9vw;
  opacity: 0.1;
  font-weight: 400;
}
@media all and (max-width: 500px) {
  .base {
    font-size: 14vw;
  }
}

.content {
  position: absolute;
  text-align: center;
}
.content > h3 {
  font-weight: 600;
  font-size: 2.25vw;
  font-family: "Cormorant Infant", serif;
}
.content > h4 {
  font-size: 1.25vw;
  margin-top: 0.5vw;
  font-family: "Noto Serif TC", serif;
}
@media all and (max-width: 500px) {
  .content > h3 {
    font-size: 6vw;
  }
  .content > h4 {
    font-size: 3.75vw;
    font-weight: 600;
    margin-top: 0;
  }
}

.home-cut-2 {
  position: relative;
  width: 100%;
  padding-top: 2.5%;
}
@media all and (max-width: 500px) {
  .home-cut-2 {
    padding-top: 0%;
  }
}

.cut-2-news-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3%;
  padding-left: 4%;
  padding-right: 4%;
  gap: 5vw 0;
}
@media all and (max-width: 500px) {
  .cut-2-news-card-container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }
}

.cut-2-margin {
  margin: 0 auto;
}

.cut-2-news-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 27vw;
}
@media all and (max-width: 500px) {
  .cut-2-news-card {
    width: 95%;
    margin: 3% auto;
  }
}

.cut-2-news-card-img {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
}
.cut-2-news-card-img:hover > img {
  transition: all 1s;
  transform: scale(1.2);
}
.cut-2-news-card-img > img {
  border-radius: 40px;
  transition: all 1s;
}
.cut-2-news-card-img > a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.text-rotate {
  position: absolute;
  margin-top: -14%;
  left: -10%;
  width: 6.5vw;
  animation: textRotate 10s linear infinite;
  filter: brightness(0.5);
}
@media all and (max-width: 500px) {
  .text-rotate {
    display: none;
  }
}

@keyframes textRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cut-2-news-card-contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cut-2-news-card-date {
  text-align: center;
  font-size: 0.8vw;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #736357;
  margin-top: 5%;
}
@media all and (max-width: 500px) {
  .cut-2-news-card-date {
    font-size: 3.25vw;
  }
}

.cut-2-news-card-title {
  text-align: center;
  font-size: 1.25vw;
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  color: #65534b;
  margin-top: 1%;
}
@media all and (max-width: 500px) {
  .cut-2-news-card-title {
    font-size: 5vw;
  }
}

.cut-2-news-card-para {
  color: #4d4d4d;
  font-family: "Microsoft JhengHei";
  font-weight: 400;
  font-size: 0.9vw;
  margin-top: 3%;
  line-height: 2;
  letter-spacing: 2px;
}
@media all and (max-width: 500px) {
  .cut-2-news-card-para {
    font-size: 3.75vw;
  }
}

.cut-2-news-card-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 1s;
}

.cut-2-news-card-more-container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.4vw;
  cursor: pointer;
  margin-top: 3%;
}
.cut-2-news-card-more-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #736357;
  bottom: -4px;
  left: 0;
  right: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: 0.5s ease;
}
.cut-2-news-card-more-container:hover::after {
  transform: scaleX(1);
}
.cut-2-news-card-more-container > p {
  font-weight: 500;
  font-size: 0.8vw;
  font-family: "Jost", sans-serif;
  color: #736357;
}
.cut-2-news-card-more-container > img {
  width: 0.8vw;
}
.cut-2-news-card-more-container > a {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 500px) {
  .cut-2-news-card-more-container {
    gap: 1.4vw;
  }
  .cut-2-news-card-more-container::after {
    transform: scaleX(1);
  }
  .cut-2-news-card-more-container > p {
    font-size: 3.5vw;
  }
  .cut-2-news-card-more-container > img {
    width: 3.5vw;
  }
}/*# sourceMappingURL=news.css.map */