@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap");
@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

video,
img,
canvas {
  display: block;
}

img {
  width: 100%;
}

.pc {
  display: block;
}
@media all and (max-width: 500px) {
  .pc {
    display: none;
  }
}

.ph {
  display: none;
}
@media all and (max-width: 500px) {
  .ph {
    display: block;
  }
}

#footer {
  width: 100%;
  background-color: #736357;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  font-size: 0.8vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-weight: 300;
  margin-top: 8%;
}
#footer span {
  color: #fff;
  font-family: "Microsoft JhengHei";
  text-decoration: none;
  pointer-events: none;
}
#footer a {
  color: #fff;
  font-family: "Microsoft JhengHei";
  text-decoration: none;
  pointer-events: none;
}
@media all and (max-width: 1600px) {
  #footer {
    margin-top: 5%;
  }
}
@media all and (max-width: 500px) {
  #footer {
    flex-direction: column;
    font-size: 3vw;
    line-height: 2;
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
  #footer > :nth-child(1) {
    order: 3;
  }
  #footer > :nth-child(2) {
    order: 2;
  }
  #footer > :nth-child(3) {
    order: 1;
  }
}

#nav {
  position: fixed;
  z-index: 100;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.805) 0%, rgba(0, 0, 0, 0.629) 5%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1vw 3vw;
}
@media all and (max-width: 500px) {
  #nav {
    background-image: none;
    padding: 4vw;
    padding-right: 7vw;
    padding-left: 7vw;
    background-color: #534741;
  }
  #nav .nav-icon {
    width: 30vw;
  }
}

.nav-icon {
  z-index: 99;
  position: relative;
}
.nav-icon > a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.nav-hamb-icon {
  display: none;
}

@media all and (max-width: 500px) {
  .nav-hamb-icon {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: none;
    background-color: transparent;
    pointer-events: auto;
  }
  .nav-hamb-icon > span {
    width: 100%;
    height: 1px;
    background-color: white;
  }
}
.nav-list {
  display: flex;
  align-items: center;
}
@media all and (max-width: 500px) {
  .nav-list {
    width: 100%;
  }
}

.nav-list-show {
  display: flex;
}

.nav-list-ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-list-ul > div {
  display: flex;
  align-items: center;
}
.nav-list-ul a {
  color: white;
  text-decoration: none;
}
.nav-list-ul li {
  color: white;
  font-size: 0.9vw;
  font-family: "Noto Serif TC", serif;
  font-weight: 400;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  letter-spacing: 0.4rem;
  cursor: pointer;
  pointer-events: auto;
}
.nav-list-ul li:nth-child(1),
.nav-list-ul li:nth-child(2),
.nav-list-ul li:nth-child(3),
.nav-list-ul li:nth-child(4) {
  position: relative;
}
.nav-list-ul li:nth-child(1)::after,
.nav-list-ul li:nth-child(2)::after,
.nav-list-ul li:nth-child(3)::after,
.nav-list-ul li:nth-child(4)::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 1px;
  height: 60%;
  bottom: 15%;
  right: 0;
}
@media all and (max-width: 500px) {
  .nav-list-ul li:nth-child(1)::after,
  .nav-list-ul li:nth-child(2)::after,
  .nav-list-ul li:nth-child(3)::after,
  .nav-list-ul li:nth-child(4)::after {
    content: "";
    width: 0px;
  }
}
@media all and (max-width: 500px) {
  .nav-list-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    pointer-events: none;
  }
  .nav-list-ul li {
    font-size: 4vw;
    padding: 2.5rem;
  }
  .nav-list-ul > div {
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
}

.loading-page {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #534741;
  background-repeat: repeat;
  background-size: 100%;
  transition: opacity 0.6s;
  pointer-events: none;
  overflow: hidden;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 5vw;
  position: relative;
}
@media all and (max-width: 500px) {
  .box {
    width: 100%;
  }
}

@media all and (max-width: 500px) {
  .box-img {
    width: 50vw;
  }
}

.box-para {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.25vw;
  letter-spacing: 2px;
  color: #aa9784;
}
@media all and (max-width: 500px) {
  .box-para {
    font-size: 17vw;
  }
}

body {
  background-image: url("../img/home/首頁-bg.jpg");
  background-repeat: repeat;
  background-size: 100%;
}

.big-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.big-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  padding-top: 7%;
}
.big-title-container > h3 {
  text-align: center;
  font-size: 0.8vw;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #736357;
  margin-top: 5%;
}
.big-title-container > h1 {
  text-align: center;
  font-size: 1.75vw;
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  color: #65534b;
  margin-top: 1%;
  letter-spacing: 1px;
}
.big-title-container > .line {
  width: 100%;
  height: 1px;
  background-color: #4d4d4d;
  margin-top: 2%;
}
@media all and (max-width: 500px) {
  .big-title-container {
    width: 92%;
    padding-top: 17%;
  }
  .big-title-container > h3 {
    font-size: 5vw;
    letter-spacing: 3px;
  }
  .big-title-container > h1 {
    font-size: 4.75vw;
    display: flex;
    flex-direction: column;
  }
  .big-title-container > .line {
    margin-top: 4%;
  }
}

.news-para {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4%;
}
.news-para > div {
  width: 90%;
}
@media all and (max-width: 500px) {
  .news-para {
    margin-top: 6%;
  }
  .news-para > div {
    width: 90%;
  }
}

.news-para-img img {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

.news-para-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 3%;
}
.news-para-content p {
  width: 100%;
  font-size: 1vw;
  color: #333333;
  text-align: start;
  line-height: 3;
  letter-spacing: 2px;
}
.news-para-content .para-middle {
  margin-top: 2%;
  margin-bottom: 2%;
}
@media all and (max-width: 500px) {
  .news-para-content {
    margin-top: 7%;
  }
  .news-para-content p {
    font-size: 3.75vw;
    line-height: 2;
  }
  .news-para-content .para-middle {
    margin-top: 7%;
    margin-bottom: 7%;
  }
}

.more {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3%;
}
@media all and (max-width: 500px) {
  .more {
    justify-content: space-between;
    margin-top: 7%;
    margin-bottom: 15%;
  }
}

.more-first {
  display: flex;
  align-items: center;
}
.more-first > h5 {
  font-size: 0.8vw;
  font-family: "Microsoft JhengHei";
  color: #736357;
  letter-spacing: 3px;
}
@media all and (max-width: 500px) {
  .more-first > h5 {
    font-size: 3.75vw;
  }
}

.more-icon {
  margin-left: 2rem;
}

.previous {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #736357;
  padding: 0.75vw 2vw;
  border-radius: 30px;
  gap: 0.5vw;
  margin-left: 2%;
  cursor: pointer;
}
.previous > p {
  font-size: 1vw;
  font-family: "Microsoft JhengHei";
  letter-spacing: 3px;
  color: white;
}
.previous > img {
  width: 1vw;
}
@media all and (max-width: 500px) {
  .previous {
    padding: 2vw 6vw;
  }
  .previous > p {
    font-size: 4vw;
  }
  .previous > img {
    width: 4vw;
  }
}/*# sourceMappingURL=news_content.css.map */