@import "_config";

body {
  background-image: url("../img/home/首頁-bg.jpg");
  background-repeat: repeat;
  background-size: 100%;
}

.brand_story-main {
  overflow: hidden;
}

.first-cut {
  clip-path: ellipse(82% 56% at 50% 44%);
  overflow: hidden;
  @include mobile {
    clip-path: ellipse(140% 55% at 50% 45%);
  }
}

//第二cut
.second-cut {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include mobile {
    margin-bottom: 15%;
  }
}
.title {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  color: $bigTitleColor;
  margin-top: 4vw;
  @include mobile {
    margin-top: 5%;
  }
}

.base {
  font-family: $cor;
  font-size: 9vw;
  opacity: 0.1;
  font-weight: 400;
  @include mobile {
    font-size: 14vw;
  }
}
.content {
  position: absolute;
  text-align: center;
  > h3 {
    font-weight: 600;
    font-size: 2.25vw;
    font-family: $cor;
  }
  > h4 {
    font-size: 1.25vw;
    margin-top: 0.5vw;
    font-family: $serif;
  }
  @include mobile {
    > h3 {
      font-size: 6vw;
    }
    > h4 {
      font-size: $contentSizePH;
      font-weight: 600;
      margin-top: 0;
    }
  }
}

.brand-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $bigTitleColor;
  > h4 {
    font-size: 1.25vw;
    font-family: $serif;
    line-height: 1;
  }
  > .brand-nav-line {
    width: 1px;
    height: 1.25vw;
    background-color: $bigTitleColor;
    margin-left: 1%;
    margin-right: 1%;
  }
}

//第三cut
.third-cut-content {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 20%;
  margin-top: 10%;
}
.abs-title {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  > h1 {
    font-weight: 600;
    font-size: 2.25vw;
    font-family: $cor;
    color: $bigTitleColor;
    width: 28%;
    margin-right: 8%;
    margin-top: 1%;
  }
}
.third-cut-content-middle-container {
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 7%;
  line-height: 2;
  > h4 {
    font-size: $mainTitle;
    font-family: $serif;
    color: $mediumTitleColor;
    margin-bottom: 2%;
  }
  > p {
    font-size: $contentSize;
    font-family: $micro;
    color: $contentColor;
    letter-spacing: 2px;
  }
}

.third-cut-content-left {
  position: relative;
  width: 23vw;
}
.brand_story-item-1 {
  border-radius: 20px;
}
.half-circle {
  position: absolute;
  top: -45%;
  left: -39%;
  z-index: -1;
}
.third-cut-content-right {
  width: 28vw;
}

//第四cut
.fourth-cut-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10%;
}

.fourth-cut-img {
  width: 35vw;
}

.fourth-cut-para {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 35vw;
  > h1 {
    font-weight: 600;
    font-size: 2.25vw;
    font-family: $cor;
    color: $bigTitleColor;
  }
  > h4 {
    font-size: $mainTitle;
    font-family: $serif;
    color: $mediumTitleColor;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  > p {
    font-size: $contentSize;
    font-family: $micro;
    color: $contentColor;
    letter-spacing: 2px;
    line-height: 2;
  }
}

.fourth-cut-circle-abs {
  position: absolute;
  right: 19%;
  margin-top: -6%;
}
.fourth-cut-circle-rel {
  position: relative;
}
.text-rotate {
  position: absolute;
  left: 2%;
  top: -34%;
  width: 10.5vw;
}
.brand_story-30 {
  width: 9vw;
}

//第五cut
.fifth-cut {
  position: relative;
}
.fifth-cut-bg {
  margin-top: 7%;
}
.fifth-cut-para {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 13%;
}
.fifth-cut-para-rel {
  position: relative;
}

.fifth-cut-para-rel-top {
  text-align: center;
  > img {
    margin: 0 auto;
    width: 7vw;
  }
  > h1 {
    font-weight: 600;
    font-size: 2.25vw;
    font-family: $cor;
    color: #ac9986;
  }
  > h4 {
    font-size: $mainTitle;
    font-family: $serif;
    color: #ac9986;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  > p {
    font-size: $contentSize;
    font-family: $micro;
    color: white;
    letter-spacing: 2px;
    line-height: 2;
  }
  > :nth-child(2) {
    margin-top: 2%;
  }
}

.fifth-cut-para-rel-bottom {
  width: 100%;

  margin-top: 7%;
  img {
    margin-left: 1%;
    margin-right: 1%;
  }
}
.fifth-cut-para-rel-bottom-first {
  display: flex;
  align-items: baseline;
  overflow: hidden;
  margin-bottom: 1%;
  // animation: firstXmove 40s linear infinite;
}
@keyframes firstXmove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-140%);
  }
}
.fifth-cut-para-rel-bottom-second {
  margin-top: 1%;
  overflow: hidden;
}
.fifth-cut-para-rel-bottom-second-in {
  display: flex;
  align-items: flex-start;
  width: 100%;
  // transform: translateX(-200%);
  // animation: firstXmove 20s linear infinite;
  // animation: secondXmove 10s linear infinite;
}
@keyframes secondXmove {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-50.5%);
  }
}
#footer {
  margin-top: 0;
}
