#footer {
  width: 100%;
  background-color: #736357;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  font-size: 0.8vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-weight: 300;
  margin-top: 10%;
  span {
    color: white;
    font-family: $sans;
  }
  @include mobile {
    flex-direction: column;
    font-size: 3.2vw;
    line-height: 2.25;
    > :nth-child(1) {
      order: 3;
    }
    > :nth-child(2) {
      order: 2;
    }
    > :nth-child(3) {
      order: 1;
    }
  }
}
