@import "_config";

//第一cut
.first-cut {
  // clip-path: ellipse(82% 56% at 50% 44%);
  clip-path: ellipse(61% 81% at 50% 19%);
  overflow: hidden;

  @include tablet {
    clip-path: ellipse(117% 55% at 50% 44%);
    height: 90vh;
  }
}
.first-cut-img-container {
  img {
    animation: zoom 15s linear infinite;
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
//第二cut
.second-cut {
  margin-top: 2%;
}
.title {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  color: $bigTitleColor;
  margin-top: 4vw;
  @include tablet {
    margin-top: 5%;
  }
}

.base {
  font-family: $cor;
  font-size: 9vw;
  opacity: 0.1;
  font-weight: 400;
  @include tablet {
    font-size: 12vw;
  }
  @include mobile {
    font-size: 14vw;
  }
}
.content {
  position: absolute;
  text-align: center;
  > h3 {
    font-weight: 600;
    font-size: 2.25vw;
    font-family: $cor;
  }
  > h4 {
    font-size: 1.25vw;
    margin-top: 0.5vw;
    font-family: $serif;
  }
  @include tablet {
    > h3 {
      font-size: 5vw;
    }
    > h4 {
      font-size: $contentSizeTb;
      font-weight: 600;
      margin-top: 0;
    }
  }
  @include mobile {
    > h3 {
      font-size: 6vw;
    }
    > h4 {
      font-size: $contentSizePH;
      font-weight: 600;
      margin-top: 0;
    }
  }
}
.cut-2-main {
  display: flex;
  overflow: hidden;
  @include tablet {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
  }
}
.cut-2-main-left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 35vw;
  z-index: 5;
  padding-left: 5%;
  position: relative;
  @include tablet {
    display: none;
  }
}
.oval {
  position: absolute;
  left: -9%;
  top: 3%;
  width: 10vw;
}
.cut-2-main-left-h1 {
  color: $bigTitleColor;
  font-size: 6vw;
  font-weight: 400;
  font-family: $cor;
  line-height: 0.9;
  margin-bottom: 2vw;
  width: 36vw;
}
.cut-2-main-left-small-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25vw;
  > h3 {
    color: $bigTitleColor;
    font-size: $mainTitle;
    font-family: $serif;
    font-weight: 600;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
  > span {
    color: $semitransColor;
    font-size: 0.8vw;
    font-family: $micro;
    letter-spacing: 1px;
    margin-left: 0.8vw;
    font-weight: 500;
  }
  @include laptop() {
    > h3 {
      font-size: 1.4vw;
    }
    > span {
      font-size: 1.1vw;
    }
  }
  @include tablet {
    margin-bottom: 2vw;
    > h3 {
      font-size: 4vw;
      margin-left: 1.2vw;
      margin-right: 1.2vw;
      line-height: 1;
    }
    span {
      font-size: $contentSizeTb;
      margin-left: 2vw;
    }
  }
  @include mobile {
    margin-bottom: 2vw;
    > h3 {
      font-size: 5vw;
      margin-left: 1.2vw;
      margin-right: 1.2vw;
      line-height: 1;
    }
    span {
      font-size: $contentSizePH;
      margin-left: 2vw;
    }
  }
}
.main-left-p {
  color: #4d4d4d;
  font-family: $micro;
  font-size: $contentSize;
  font-weight: 400;
  margin-bottom: 1.25vw;
  width: 63%;
  line-height: 2;
  @include laptop {
    width: 90%;
  }
  @include tablet {
    width: 100%;
    font-size: $contentSizeTb;
    margin-bottom: 3vw;
  }
  @include mobile {
    width: 100%;
    font-size: $contentSizePH;
    margin-bottom: 4vw;
  }
}
.cut-2-main-left-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw;
  @include tablet {
    margin-bottom: 2vw;
    width: 100%;
    justify-content: space-between;
  }
  @include mobile {
    margin-bottom: 5vw;
    width: 100%;
    justify-content: space-between;
  }
}
.cut-2-left-line {
  height: 1vw;
  width: 1px;
  background-color: $bigTitleColor;
  opacity: 0.5;
  @include laptop {
    height: 1.4vw;
  }
  @include tablet {
    height: 4vw;
  }
  @include tablet {
    height: 5vw;
  }
}
.connect-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $bigTitleColor;
  border-radius: 30px;
  padding: 5px 10px;
  margin-right: 0.8vw;
  cursor: pointer;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  span {
    color: $bigTitleColor;
    font-family: $micro;
    font-size: $contentSize;
    margin-left: 0.4vw;
    font-weight: 400;
  }
  @include laptop {
    padding: 5px 10px;
    span {
      font-size: 1vw;
    }
  }
  @include tablet {
    margin-right: 0;
    padding: 1% 3%;
    span {
      font-size: $contentSizeTb;
      margin-left: 1.4vw;
    }
  }
  @include mobile {
    margin-right: 0;
    padding: 1% 2%;
    span {
      font-size: $contentSizePH;
      margin-left: 1.4vw;
    }
  }
}
.connect img {
  width: 0.8vw;
  @include tablet {
    width: 2vw;
  }
  @include mobile {
    width: 3vw;
  }
}
.fb img {
  width: 0.39vw;
  @include laptop {
    width: 0.45vw;
  }
  @include tablet {
    width: 1.3vw;
  }
  @include mobile {
    width: 1.8vw;
  }
}
.mail img {
  width: 0.9vw;
  @include laptop {
    width: 1vw;
  }
  @include tablet {
    width: 3vw;
  }
  @include mobile {
    width: 3vw;
  }
}
.more {
  display: flex;
  align-items: center;
  justify-content: center;
  > p {
    color: $bigTitleColor;
    font-size: $contentSize;
    font-family: $micro;
    margin-right: 0.5vw;
    line-height: 1;
  }
  @include laptop {
    > p {
      font-size: 1vw;
    }
  }
  @include tablet {
    > p {
      font-size: $contentSizeTb;
      margin-right: 2vw;
    }
  }
  @include mobile {
    > p {
      font-size: $contentSizePH;
      margin-right: 2vw;
    }
  }
}
.more-spot {
  width: 0.4vw;
  margin-right: 0.5vw;
  @include tablet {
    width: 1.25vw;
    margin-right: 2vw;
  }
  @include mobile {
    width: 2.5vw;
    margin-right: 2vw;
  }
}
.more-arrow {
  background-image: url("../img/project/更多-箭頭.png");
  background-repeat: no-repeat;
  background-color: #736357;
  background-position: center;
  border-radius: 50%;
  background-size: 60%;
  width: 2vw;
  padding: 1vw;
  @include tablet {
    width: 4vw;
    padding: 2.5vw;
  }
  @include mobile {
    width: 4vw;
    padding: 3vw;
  }
}
//輪播
.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.1;
}
.cut-2-main-right {
  overflow: hidden;
  width: 70vw;
}
.cut-2-carousel-swiper {
  position: relative;
  width: 55%;
  @include tablet {
    display: none;
  }
}

.swiper-slide {
  margin-top: 12%;
  margin-bottom: 13%;
  height: auto;
  position: relative;
  transition-timing-function: ease-in-out;
  a {
    pointer-events: none;
  }
  > .swiper-img {
    > .href-link {
      width: 100%;
    }
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }
}
.swiper-img-pc {
  overflow: hidden;
  border-radius: 260px 260px 0 0;
}
.swiper-slide-prev {
  opacity: 1 !important;
  transition-timing-function: ease-in-out;
  a {
    pointer-events: none;
  }
}
.swiper-slide-active {
  opacity: 1 !important;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  a {
    pointer-events: all !important;
  }
}
.swiper-slide-next {
  opacity: 1 !important;
  transition-timing-function: ease-in-out;
  a {
    pointer-events: none;
  }
}
.swiper-creative .swiper-slide {
  overflow: visible !important;
}
.swiper-img {
  position: relative;
  > a {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.text-rotate {
  position: absolute;
  margin-top: -19%;
  left: -12%;
  width: 8vw;
  animation: textRotate 10s linear infinite;
  filter: brightness(0.5);
  z-index: 5;
  // @include laptop {
  //   margin-top: -25%;
  // }
  @include tablet {
    margin-top: -19%;
    left: -13%;
    width: 17vw;
  }
  @include mobile {
    margin-top: -20%;
    left: -13%;
    width: 22vw;
  }
}
.phone-item-img-big {
  display: none;
  @include tablet {
    display: block;
    position: relative;
  }
}
@keyframes textRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
//輪播按鈕以及當前項目
.swiper-page {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  right: -55%;
  bottom: 12%;
}
.swiper-page-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}
.swiper-page-top-active,
.swiper-pagination-bullet-active {
  font-size: 2.5vw;
  color: $bigTitleColor;
  font-family: $cor;
}
.swiper-page-top-inactive,
.swiper-pagination-bullet {
  font-size: 1.5vw;
  color: #948175;
  font-family: $cor;
}
.second {
  margin-left: -8%;
}
.swiper-page-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  user-select: none;
}
.swiper-page-line {
  width: 1px;
  height: 0.7vw;
  background-color: $bigTitleColor;
}

.swiper-button-prev {
  margin-right: 1.25vw;
  > img {
    margin-right: 15%;
    filter: brightness(0.5);
  }
}
.swiper-button-next {
  margin-left: 1.25vw;
  > img {
    margin-left: 15%;
    filter: brightness(0.5);
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: unset;
  left: 0;
  top: 0;
  right: 0;
  margin-top: 0;
  width: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  > span {
    color: $bigTitleColor;
    font-size: 1vw;
  }
  > img {
    width: 0.8vw;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

//手機版
.cut-2-main-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.cut-2-phone-item {
  width: 75%;
  margin-top: 8%;
  @include tablet {
    width: 60%;
  }
  @include mobile {
    width: 75%;
  }
}
.cut-2-phone-h1 {
  color: $bigTitleColor;

  font-weight: 400;
  font-family: $cor;
  white-space: nowrap;
  line-height: 0.9;
  @include tablet {
    font-size: 7vw;
  }
  @include mobile {
    font-size: 9vw;
  }
}
.cut-2-phone-item-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  @include tablet {
    margin-top: 13%;
  }
}
.cut-2-phone-item-img {
  position: relative;
  > .href-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
  }
}
.phone-item-img-big-container {
  overflow: hidden;

  position: relative;
  z-index: 1;
  @include tablet {
    border-radius: 260px 260px 0 0;
  }
  @include mobile {
    border-radius: 190px 181px 0 0;
  }
}
.frame {
  position: absolute;
  top: -3%;
  right: -3%;
  z-index: -1;
}
