@import "_config";
body {
  background-image: url("../img/home/首頁-bg.jpg");
  background-repeat: repeat;
  background-size: 100%;
}

#nav {
  position: fixed;
  z-index: 100;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.805) 0%,
    rgba(0, 0, 0, 0.629) 5%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 3vw;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list-ul {
  display: flex;
  align-items: center;
  list-style: none;
  li {
    color: white;
    font-size: 0.8vw;
    font-family: $serif;
    font-weight: 400;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
  }
  li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4) {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-color: white;
      width: 1px;
      height: 60%;
      bottom: 15%;
      right: 0;
    }
  }
}
#footer {
  width: 100%;
  background-color: #736357;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  font-size: 0.8vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-weight: 300;
  span {
    color: white;
    font-family: $sans;
  }
}

//主要內容開始
.home-cut-1 {
  position: relative;
}
.home-cut-1-video {
  overflow: hidden;
  clip-path: ellipse(75% 60% at 50% 35%);
  video {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
  }
}
.home-cut-1-para {
  position: absolute;
  top: 40%;
  left: 8%;
  color: white;
  letter-spacing: 3px;
  h1 {
    font-family: $cor;
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 1%;
  }
  h2 {
    font-family: $serif;
    font-size: 3.25rem;
    font-weight: 400;
    margin-bottom: 4%;
  }
  p {
    font-family: $sans;
    font-weight: 200;
  }
  p:nth-child(3) {
    font-size: 2.1rem;
    margin-bottom: 1%;
  }
  p:nth-child(4) {
    font-size: 1.8rem;
  }
}
.home-cut-1-para-line {
  display: flex;
  align-items: center;
  > span {
    width: 12%;
    margin-right: 2%;
    background-color: white;
    height: 1px;
  }
}

//第二部分
.home-cut-2-para {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 1px;
  > h1 {
    color: $bigTitleColor;
    font-family: $cor;
    font-weight: 600;
    font-size: 2.5vw;
  }
  > h3 {
    color: $mediumTitleColor;
    font-family: $serif;
    font-size: 1.25vw;
    font-weight: 500;
  }
  > p {
    color: $contentColor;
    font-family: $sans;
    font-size: 1vw;
    margin-bottom: 0.75%;
  }
  > :nth-child(1),
  > :nth-child(3),
  > :nth-child(4) {
    margin-bottom: 2%;
  }
}
.home-cut-2-para-img {
  width: 10vw;
}

.home-cut-2-fixed-container {
  height: 345.6rem;
}
// .home-cut-2-fixed-first-image {
//   width: 50rem;
//   height: 50rem;
//   -webkit-mask: url("../img/home/首頁-bg.jpg") no-repeat center center;
//   mask: url("../img/home/首頁-bg.jpg") no-repeat center center;
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   > img {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     top: 0;
//   }
// }
.home-cut-2-fixed-first {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.yo {
  width: 100%;
  height: 100vh;
  clip-path: inset(24% 38%);
  // background: url("../img/home/首頁-bg.jpg") no-repeat center center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    position: absolute;
    left: 0;

    // background-size: 100%;
    // background-image: url("./img/home/旋轉背景圖.jpg");
  }
}
.home-cut-2-fixed-first-squre {
  display: flex;
  justify-content: center;
}
.good {
  position: absolute;
  width: 50rem;
  height: 50rem;
  margin-top: 10vw;
  -webkit-mask: url("../img/home/首頁-bg.jpg") no-repeat center center;
  mask: url("../img/home/首頁-bg.jpg") no-repeat center center;
}
.home-cut-2-fixed-first-squre-wrapper {
  position: absolute;
  width: 50rem;
  height: 50rem;
  margin-top: 11.5%;
}
.home-cut-2-fixed-first-squre-1,
.home-cut-2-fixed-first-squre-2 {
  position: relative;
  width: 50rem;
  height: 50rem;
}
.home-cut-2-fixed-first-squre-text {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;

  > p {
    font-size: 2.5vw;
  }
}
.n-1 {
  transform: translateY(-5.5vw);
}
.n-2 {
  bottom: 0;
  transform: rotate(180deg) translateY(-5.5vw);
}
.n-3 {
  transform: translateY(100%) translateX(5.5vw) rotate(90deg);
  bottom: 0;
  transform-origin: top right;
}
.n-4 {
  transform: translateY(100%) translateX(-5.5vw) rotate(-90deg);
  bottom: 0;
  transform-origin: top left;
}
canvas {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
  pointer-events: none;
}
